.content {
  grid-area: c;
}

.userAvatar {
  width: 15%;
  margin-right: 20px;
}

.userAvatar img {
  width: 100%;
}

.infoContainer {
  display: flex;
  flex-direction: row;
}

.postsHeading {
  text-align: center;
  font-size: 1.6em;
}
