.item {
  color: black;
  margin-bottom: 15px;
  padding-right: 10px;
}

.post {
  font-size: 1.3em;
  display: grid;
  text-align: justify;
  grid-template-areas:
    'image  username'
    'image  message';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 14fr;
  background-color: rgb(167, 211, 247);
  box-shadow: 2px 5px 10px rgb(148, 148, 148);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.message {
  grid-area: message;
  word-break: break-all;
  font-family: 'Spline Sans', sans-serif;
}

.post img {
  height: 60px;
  border-radius: 30px;
}

.image {
  grid-area: image;
}

.likes {
  text-align: right;
  font-size: 1.3em;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 500;
}

.username {
  grid-area: username;
  font-size: 1.3em;
}

.username div {
  display: inline-block;
  vertical-align: middle;
}
