.item {
  color: black;
  margin-bottom: 15px;
  padding-right: 10px;
}

.post {
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.message {
  word-break: break-all;
  font-family: 'Spline Sans', sans-serif;
}

.post img {
  height: 60px;
  border-radius: 30px;
  margin-right: 10px;
}

.likes {
  text-align: right;
  font-size: 1.3em;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 500;
}
