.nav {
  grid-area: n;
  /* background-color: rgb(166, 95, 184); */
  background-color: rgb(168, 235, 173);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item {
  margin-bottom: 15px;
}

.item a.activeLink {
  font-size: 1.5em;
  font-family: 'Spline Sans', sans-serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

.item > a.activeLink:hover {
  font-size: calc(1.5em + 2px);
}
