.content {
  grid-area: c;
}

.postsHeading {
  text-align: center;
  font-size: 1.6em;
}

.userAvatar {
  width: 15%;
  margin-right: 20px;
}

.userAvatar img {
  width: 100%;
}

.infoAndAvatar {
  display: flex;
  flex-direction: row;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userName {
  font-size: 2em;
}

.description {
  font-size: 1.5em;
  font-style: italic;
}

.email {
  font-size: 1.3em;
}
