.container {
  min-height: 500;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.messageList {
  /* border: 2px solid black; */
  flex: 10;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 20px 10px 10px;
  overflow-y: scroll;
  max-height: 600px;
}

.inputs {
  /* border: 2px solid black; */
  border-radius: 10px;
  flex: 2;
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  /* align-items: flex-start; */
}

.msgField {
  flex: 10;
  font-size: 1.5em;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  border: 3px solid rgb(115, 161, 231);
}

.sendBtn {
  flex: 2;
  font-size: 1.7em;
  outline: none;
  border: 3px solid rgb(115, 161, 231);
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  background-color: rgb(91, 174, 243);
  color: #fff;
  transition: background-color 0.3s, transform 0.1s;
}

.sendBtn:hover {
  background-color: rgb(78, 158, 223);
  cursor: pointer;
}

.sendBtn:active {
  transform: scale(1.05);
}
